doctype html
html(lang='en')
    head
        title='PubClub'
        link(rel="icon" href="/images/favicon.ico" type="image/x-icon")
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Fondamento")
        link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Forum")
        link(rel="stylesheet", href='/stylesheets/style.css')
    body
        span(class='title') Three fat sausages
        span(class='subtitle') Pub club for real men
        div(class='content')
            block content
